<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148578947572-c4ggo65ao1gsrhsg8oa6vgujqhtqjfjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148578947572-c4ggo65ao1gsrhsg8oa6vgujqhtqjfjn</string>
	<key>API_KEY</key>
	<string>AIzaSyAoZA_oUw2JJFJQBxvbd6XpkQ_b1OVznbs</string>
	<key>GCM_SENDER_ID</key>
	<string>148578947572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BlakHawk-Productions.Recipe-Book</string>
	<key>PROJECT_ID</key>
	<string>recipe-book-58ad4</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-book-58ad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148578947572:ios:1961bc80eeaefb5da9a9a1</string>
</dict>
</plist>